<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letgym.gymcourse.dao.CourseScheduleMembersMapper">
  <resultMap id="BaseResultMap" type="com.letgym.gymcourse.model.CourseScheduleMembers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="scheduleID" jdbcType="BIGINT" property="scheduleid" />
    <result column="memberUID" jdbcType="BIGINT" property="memberuid" />
    <result column="isDelete" jdbcType="BIT" property="isdelete" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
  </resultMap>
</mapper>