<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letgym.gymcourse.dao.TearcherInfoMapper">
  <resultMap id="BaseResultMap" type="com.letgym.gymcourse.model.TearcherInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="tearcherGrade" jdbcType="VARCHAR" property="tearchergrade" />
    <result column="isDelete" jdbcType="BIT" property="isdelete" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
    <result column="tearcherDesc" jdbcType="LONGVARCHAR" property="tearcherdesc" />
  </resultMap>
</mapper>