<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letgym.gymcourse.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.letgym.gymcourse.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="isDelete" jdbcType="BIT" property="isdelete" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="lastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
  </resultMap>
</mapper>